{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
    <title>Исследователю</title>
{% endblock %}

{% block content %}
    {% include 'main/nav.html' %}
    {% load static %}

    <h1>О волшебных зверях</h1>

    <div class="creature">
        <img src="{% static 'main/img/gipo.jpg' %}" alt="Гиппогриф" style="width:200px; float:left; margin-right:15px;">
        <h2>Гиппогриф</h2>
        <p>
            Гиппогрифы — это гордые и величественные существа с телом лошади и головой орла. Их перья обычно серого или коричневого цвета, а глаза яркие и проницательные. Гиппогрифы требуют уважительного отношения; перед тем как приблизиться к ним, необходимо поклониться и дождаться ответного поклона. Они могут быть опасными, если их разозлить, но при правильном подходе становятся верными союзниками.
        </p>
    </div>

    <div class="creature">
        <img src="{% static 'main/img/nuh.jpg' %}" alt="Нюхль" style="width:200px; float:left; margin-right:15px;">
        <h2>Нюхль</h2>
        <p>
            Нюхли — маленькие, пушистые существа, похожие на кротов. Они имеют особое пристрастие к блестящим предметам и часто используются для поиска сокровищ. Нюхли могут быть весьма разрушительными в закрытых пространствах, так как они роются в поисках драгоценностей. Однако их обаяние и полезные навыкиделают их популярными среди волшебников.
        </p>
    </div>

    <div class="creature">
        <img src="{% static 'main/img/basi.jpeg' %}" alt="Василиск" style="width:200px; float:left; margin-right:15px;">
        <h2>Василиск</h2>
        <p>
            Василиск — это огромное змееподобное существо, которое может убить взглядом. Его чешуя зеленого цвета, а глаза желтые и устрашающие. Василиски крайне опасны, и их появление всегда связано с бедствием. Несмотря на это, они остаются одной из самых изучаемых тварей из-за их редкости и смертоносных способностей.
        </p>
    </div>

    <div class="creature">
        <img src="{% static 'main/img/jar.jpg' %}" alt="Джарви" style="width:200px; float:left; margin-right:15px;">
        <h2>Джарви</h2>
        <p>
            Джарви — магическое животное, которое встречается в Британии, Ирландии и Северной Америке. По внешнему виду он напоминает хорька-переростка, с одним отличием — джарви умеет говорить (сквернословить). И если бы не грубость и агрессивность, джарви любят кусать людей, они могли бы быть полезны для магов-садоводов в борьбе с вредителями.
        </p>
    </div>

    <div style="clear:both;"></div>
    {% include 'main/under.html' %}
{% endblock %}