{% extends 'main/layout.html' %}

{% block title %}
  Почти Безголовый Ник рассказывает
{% endblock %}

{% block content %}
   {% include 'main/nav.html' %}
   <h1>Это страничка новостей от Почти Безголового Ника</h1>

   <div class="news-block">
     <h4>Забавные случаи в Хогвартсе</h4>
     <p>
       Ах, дорогие друзья, как-то раз я стал свидетелем, как Фред и Джордж Уизли устроили фейерверк прямо в Большом Зале! Это было зрелище, достойное лучших салютов — даже профессор МакГонагалл не смогла сдержать улыбку, хотя и пыталась.
     </p>
   </div>

   <div class="news-block">
     <h4>Приключения в Запретном Лесу</h4>
     <p>
       Недавно, прогуливаясь по Запретному Лесу, я наткнулся на необычное зрелище — группа кентавров учила Гарри и его друзей астрономии. Честно говоря, мне было интересно, как они объясняют движение звезд, когда сами всегда в движении!
     </p>
   </div>

   <div class="news-block">
     <h4>Смешные истории из Хогсмида</h4>
     <p>
       В Хогсмиде, как всегда, случается много интересного. В последний мой визит я увидел, как Пивз пытался напугать посетителей Трех Метел, притворившись барменом. Хотя его маскарад продлился недолго, он все же успел рассмешить всех до слез!
     </p>
   </div>
{% include 'main/under.html'%}
{% endblock %}
